body {
    background-color: #C0C0C0;
}

#imggina {
    width: 250px;
    border-radius: 5%;
    
}

.parag {
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#imgb99 {
    width: 500px;
    border-radius: 5%;
}